.income-text {
    font-size: 1.1em;
    color: rgb(54, 162, 235);
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.income-bg {
    font-size: 1.1em;
    color: #000;
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.expenses-text {
    font-size: 1.1em;
    color: rgb(255, 99, 132);
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.expenses-bg {
    font-size: 1.1em;
    color: #000;
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

.savings-text {
    font-size: 1.1em;
    color: rgb(75, 192, 192);
    padding: 5px;
}

.savings-bg {
    font-size: 1.1em;
    color: #000;
    padding: 5px;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    text-transform: uppercase;
}
  
dt::after {
    content: ":";
}

dd {
    width: 100px;
    margin: 0 0 1px 110px;
    text-align: right;
}